/* primera seccion */
#header{
	width: 100%;
	height: 200px;
	text-align: center;
	background-color:white;
	z-index:100;
}
#img-header{
	width: 226px;
	margin: 0 auto;
	left: 0;
	padding-bottom: 20px;
	padding-top: 20px;
	right: 0;
}
#img-header img{
	height:100px;
}
#header #titulo{
	height:60px;
	width:100%;
	background-color:#08113F;
	background-image:url("../imgs/bar-name.png");
	background-repeat:no-repeat;
	background-position:center right;
	
	text-align: right;
	line-height: 60px;
	color: white;
	font-size: 40px;
	padding-right: 20px;
}

.seccion{
	width:33.333333333%;
	float:left;
}
.form{
	max-width:600px;
	width:90%;
	margin:0 auto;
}
.boton-registro{
	width: 115px;
	height: 115px;
	background: #613373;
	border: 5px solid white;
	border-radius: 50%;
	top: -20px;
	text-align: center;
	line-height: 112px;
	font-size: 40px;
	color: white;
}
#register .boton-registro{
	top: 35px;
}
#login .boton-registro{
	font-size:17px;
}

#tiempo-exc .boton-registro{
	top:0;
	margin:0 auto;
}
#reg-log{
	margin-left: 39%;
}
#e-date{
	text-align:center;
}
@media(max-width:991px){
	.boton-registro{
		top: 0px !important;
		margin-left:41.66%;
		margin-bottom:10px;
	}
}
@media(max-width:570px){
	.boton-registro{
		margin-left:39%;
	}
	#reg-log{
		margin-left: 36%;
	}
}
@media(max-width:470px){
	.boton-registro{
		margin-left:36%;
	}
	#reg-log{
		margin-left: 32.5%;
	}
}

.contenido{
	background-color:#00B193;
	width:100%;
	overflow-y:auto;
	overflow-x:hidden;
	padding-top:50px;
	padding-bottom:50px;
}
#sec{
	width:300%;
}
@media(max-width:470px){
	#header #titulo{
		font-size: 35px;
	}
	#img-header img {
		height: 80px;
	}
	#header {
		height: 180px;
	}
}
.info{
	color:white;
	padding:0;
	margin-bottom:20px;
}
#olv-cont button{
	color:black;
}
.footer{
	width: 100%;
	height: 200px;
	text-align:center;
	position:absolute;
}
.footer img{
	padding-bottom:30px;
}
.btn-link{
	color:black;
	text-decoration:none;
	font-style:italic;
}
.btn-link:hover{
	color:black;
	text-decoration:none;
	font-style:italic;
}
.form .titulo span{
	font-size:20px;
	font-weight:lighter;
}
.contenido .form .titulo{
	color:white;
	padding:0;
	font-size: 36px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	padding-bottom:10px;
}
#register .info{
	margin-bottom:10px;
	margin-top:10px;
}
#img-maleta{
	top: 10px;
	left: 17px;
	position: absolute;
	z-index:1000;
}
#img-maleta img{
	width:350px;
}
@media(max-width:1340px){
	#img-maleta img{
		width:300px;
	}
}
@media(max-width:1110px){
	#img-maleta img{
		width:250px;
	}
}
@media(max-width:950px){
	#img-maleta img{
		width:200px;
	}
}
@media(max-width:700px){
	#img-maleta img{
		display:none;
	}
}
@media(max-width:390px){
	#header #titulo {
		font-size: 30px;
	}
}
@media(max-width:340px){
	#header #titulo {
		font-size: 26px;
	}
}

/* segunda seccion */

.header{
	width:100%;
	height:120px;
	background-color:#f9f9f9;
}
.header .titulo{
	background-color:#08113F;
	background-image:url("../imgs/bar-name.png");
	background-repeat:no-repeat;
	background-position:right center;
	background-size:auto 100%;
	text-align:right;
	height:60px;
	line-height:60px;
	font-size:36px;
	color:#fff;
	padding-right:20px;
	
	/*margin-bottom: 70px;*/
}
.header .form-busqueda{
	/*display:none;*/
}
.header .nom-usuario{
	position: absolute;
	color: #fff;
	margin-left: 270px;
	margin-top: 25px;
}
#cont-logo, #logoifai-main{
	width:100%;
	position:absolute;
	text-align:center;
}
#logoifai-main img{
	width: 160px;
	padding-top: 10px;
}
#maleta{
	position:absolute;
}
#maleta img{
	padding-top:10px;
	padding-left:10px;
}
.div-header .row{
	margin-top: 18px;
}
.contenido-seccion{
	background-color: #fff;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 60px;
}
.div-header .row{
	width:100%;
}
.footer#f-princ{
	height: 70px;
	background-color: #00B193;
	line-height:70px;
	color:#fff;
}
#close{
	position:relative;
	float:right;
	margin-right:20px;	
}
#close a{
	text-decoration:none;
}
.navbar{
	width:40%;
	float:right;
	top:3px;
}
.navbar-form input[type=text]{
	width:150px;
}

.c_pointer{
	cursor: pointer;
}

.margen_ab_30px{
	margin-bottom:30px;
}

.margen_ar_40px{
	margin-top:40px;
}

.img-circle{
	border:#F9F9F9 solid 3px;
}

.img-liston{
	/*margin-top:-100px;*/
	left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 130px;
}
.seg{
	transition: opacity 1s;
	cursor:pointer;
}
.seg:hover{
	opacity:0.7;
}

a:hover{
	text-decoration:none;
}

#seguidos img{
	display:initial !important;
}
.nombre-serv-seg{
	width:130px;
	margin:0 auto;
	padding-top:30px;
}
.seguir{
	margin-top: -70px !important;
	color: white;
	font-size: 18px;
	width:130px;
	padding-left:32px;
	left: 0;
    position: absolute;
    right: 0;
    top: 205px;
    width: 130px;
}
.texto_verde{
	color:#31BD34;
	font-style: italic;
	font-weight:bold;
}
#opciones{ 
	display:none; 
	width:100%; 
	border:solid thin #DDDDDD; 
	position:absolute; 
	margin-top:8px; 
	left:0px; 
	z-index:10000; 
	background:#FFF; 
}
#opciones a{ 
	display: block; 
	height: 25px; 
	color: #007050; 
	text-decoration:none;
	padding:5px 10px 27px 10px
}
#opciones a:hover{
	background: #F9F9F9;
	padding:5px 10px 27px 10px;
}
@media (min-width: 1200px){
	#campo-busqueda {
		margin-left: 74%;
	}
}

@media(max-width:1160px){
	.header{
		/*height:120px;*/
	}
	.header .titulo{
		font-size:30px;
		/*line-height:60px;*/
	}
	.header .nom-usuario{
		margin-left: 195px;
		margin-top: 20px;
	}
	#logoifai-main img{
		width: 120px;
	}
	#cont-logo img{
		width:180px;
	}
	#maleta img{
		width:200px;
	}
	.div-header .row{
		margin-top: 12px;
	}
	.navbar {
		width: 41.5%;
	}
	.navbar-form{
		padding-right:0;
	}
	.contenido-seccion{
		margin-top: 40px;
	}
}
@media(max-width:1070px){
	.navbar {
		width: 41%;
	}
	.navbar-form input[type=text]{
		width:140px;
	}
	.navbar-form{
		padding-left:0;
	}
}
@media(max-width:1000px){
	.navbar-form input[type=text]{
		width:130px;
	}
	.navbar-form button{
		padding-left:6px;
		padding-right:6px;
	}
}
@media (max-width: 991px) and (min-width:961px){
	#campo-busqueda {
		margin-left: 60.3333333%;
		width:39.6666667;
	}
}
@media(max-width:960px){
	.header{
		height:225px;
		padding-top: 105px;
	}
	.div-header{
		height:60px;
	}
	#cont-logo, #logoifai-main{
		top:0;
	}
	.navbar {
		width: 72%;
	}
	.navbar-form input[type=text]{
		width:250px;
	}
	.navbar-form button{
		padding-left:12px;
		padding-right:12px;
	}
	.navbar-form{
		padding-left:15px;
	}
}
@media(max-width:760px){
	.header .nom-usuario {
		margin-left: 160px;
	}
	#maleta img {
		width: 180px;
	}
}
@media(max-width:725px){
	.header .nom-usuario {
		margin-left: 60px;
	}
	#maleta{
		display:none;
	}
	.navbar {
		width: 100%;
	}
}
@media(max-width:650px){
	.header .nom-usuario {
		margin-left: 30px;
	}
}
@media(max-width:600px){
	.header .nom-usuario {
		margin-top: 80px;
		color:#08113F;
	}
	#seguidos img{
		/*width:33.333333%;*/
	} 
}
@media(max-width:450px){
	.header .nom-usuario {
		width:100%;
		margin:0 auto;
		margin-top: -115px;
		text-align:center;
	}
	.header {
		height: 240px;					
		padding-top: 120px;
	}
	#cont-logo, #logoifai-main {
		top: 18px;
	}
	#campo-busqueda{
		width:100%;
		margin-left:4%;
	}
		
}
@media(max-width:380px){
	.img-liston{
		top:127px
	}
	.seguir{
		top:199px;
	}
	.img-liston, .seguir, .nombre-serv-seg{
		width:95px;
	}
	.seguir{
		font-size:16px;
	}
}
@media(max-width:330px){
	.nombre-serv-seg{
		margin-top:15px;
	}
}
@media(max-width:320px){
	.header .titulo{
		font-size:26px;
	}
	#seguidos img{
		/*width:50%;*/
	}
}
@media(max-width:290px){
	.nombre-serv-seg{
		margin-top:25px;
	}
}